@page "/NEObjects"
@inject HttpClient Http
@inject IJSRuntime JS

<PageTitle>Near-Earth Objects</PageTitle>

<div style="display:flex; justify-content:space-between; align-items:center;">
    <h1 class="white" style="margin-right:20px; white-space: nowrap;">
        Near-Earth Objects
    </h1>
    <!-- Approach Date Calendar Selector & Search Button -->
    <div style="display:flex; align-items:stretch;">
        <h2 class="white" style="white-space: nowrap; margin-right:10px;">
            Approximate Approach Date
        </h2>

        <input type="date" style="border-radius: 5px 0px 0px 5px;" @bind="startDate" />

        <button @onclick="ButtonSearch" type="button">
            <span class="oi oi-magnifying-glass" aria-hidden="true" style="width: 50px"></span>
        </button>
    </div>
</div>

<!-- Displaying a loading message while the data is being requested from the API -->
@if (isLoading)
{
    <p class="white">Loading...</p>
}
<!-- Displaying a no results message if the API returned with no results -->
else if (results == null || results.Count == 0)
{
    <p class="white">No results.</p>
}
<!-- Displaying the NEObjects and associated information provided by the API -->
else
{
    <div class="imageCardContainer">
        @foreach (ImageCard item in results)
        {
            <div class="imageCard_@item.Hazardous" @onclick="() => OpenImage(item)">
                <div style="padding-bottom:10px;">
                    <img src="@item.ImageUrl" alt="test" style="width:100%; height:180px; object-fit:cover;" />

                    <div style="display:flex; justify-content:space-between;">
                        <p style="margin:0; font-size:14px; opacity:0.7; color:white; padding:10px;">
                            @item.Date
                        </p>
                        <!-- Adding a warning icon if the object is potentially hazardous -->
                        @if (item.Hazardous == "True")
                        {
                            <span style="padding: 5px; margin-top: 5px; margin-right: 5px; font-size: large;
                                              color: rgb(189, 28, 28);" class="oi oi-warning"></span>
                        }
                    </div>

                    <h3 class="imageCardTitle" style="padding:10px;">@item.Title</h3>
                </div>
            </div>
        }
    </div>
}
<!-- Displaying a focused version of the object with extra information when clicked -->
@if (selectedItem != null)
{
    <div class="modal-overlay" @onclick="CloseImage">
        <div class="modal-content_@selectedItem.Hazardous" @onclick:stopPropagation="true">
            <img src="@selectedItem.ImageUrl"
                style="width:100%; object-fit:cover; border-radius: 10px; margin-bottom: 20px;" />

            <div style="display:flex; justify-content:space-between;">
                <h2>@selectedItem.Title</h2>
                <!-- Adding a warning icon if the object is potentially hazardous -->
                @if (selectedItem.Hazardous == "True")
                {
                    <span style="padding: 5px; margin-top: 5px; margin-right: 5px; font-size: x-large;
                                  color: rgb(189, 28, 28);" class="oi oi-warning"></span>
                }
            </div>
            
            <div style="display:flex; justify-content:space-between;">
                <pre style="white-space:pre-wrap; font-family:inherit;">
                    @selectedItem.Description
                </pre>
                <div style="margin-top: 40px;">
                    <a href="@selectedItem.JPLUrl" target="_blank">View Source</a><br /><br />
                    <button style="border-radius: 5px; border:2px solid transparent; width:fit-content; float:right" @onclick="CloseImage">Close</button>
                </div>
            </div>
        </div>
    </div>
}

@code {

    //ImageCard class to store the image card data to be displayed on the page
    public class ImageCard
    {
        public string? Title { get; set; }
        public string? Date { get; set; }
        public string? Description { get; set; }
        public string? ImageUrl { get; set; }
        public string? Hazardous { get; set; }
        public string? JPLUrl { get; set; }
    }

    //Helper classes for processing the image data
    public class NeoRoot
    {
        public List<NearEarthObject>? near_earth_objects { get; set; }
    }

    public class NeoFeedRoot
    {
        public Dictionary<string, List<NearEarthObject>>? near_earth_objects { get; set; }
    }

    //NearEarthObject class & other helper classes to store the NEObject data provided by the API
    public class NearEarthObject
    {
        public string? id { get; set; }
        public string? name { get; set; }
        public double? absolute_magnitude_h { get; set; }
        public EstimatedDiameter? estimated_diameter { get; set; }
        public bool is_potentially_hazardous_asteroid { get; set; }
        public List<CloseApproach>? close_approach_data { get; set; }
        public string? nasa_jpl_url { get; set; }
    }

    public class EstimatedDiameter
    {
        public DiameterUnit? kilometers { get; set; }
    }

    public class DiameterUnit
    {
        public double estimated_diameter_min { get; set; }
        public double estimated_diameter_max { get; set; }
    }

    public class CloseApproach
    {
        public string? close_approach_date { get; set; }
        public RelativeVelocity? relative_velocity { get; set; }
        public MissDistance? miss_distance { get; set; }
    }

    public class RelativeVelocity
    {
        public string? kilometers_per_hour { get; set; }
    }

    public class MissDistance
    {
        public string? kilometers { get; set; }
    }

    Random r = new Random();
    DateTime startDate = DateTime.Today;
    bool isLoading = false;
    List<ImageCard> results = new();
    ImageCard? selectedItem;

    //Triggering a search with todays date on page load
    protected override async Task OnInitializedAsync()
    {
        await Search();
    }

    //Helper function used for the search button
    private async Task ButtonSearch()
    {
        await Search();
    }


    private async Task Search()
    {
        //Clear results before the search
        isLoading = true;
        results.Clear();

        try
        {
            //Making an api request with the date range of the provided date + 7 days after it (Thats the longest rage the API will allow).
            string apiKey = "yhOmsJLxTQMdT9kCgMeoyosvgyQVSYx4gLbz0eHR";
            List<NearEarthObject> asteroids = new();
            string url = $"https://api.nasa.gov/neo/rest/v1/feed?start_date={startDate:yyyy-MM-dd}&end_date={startDate.AddDays(7):yyyy-MM-dd}&api_key={apiKey}";
            var feedRoot = await Http.GetFromJsonAsync<NeoFeedRoot>(url);

            //Obtaining the objects from the API
            if (feedRoot?.near_earth_objects != null)
            {
                asteroids = feedRoot.near_earth_objects
                .SelectMany(kvp => kvp.Value)
                .ToList();
            }

            //Looping over each result to proccess and save it
            foreach (var a in asteroids)
            {
                var approach = a.close_approach_data?.FirstOrDefault();

                var miss = approach?.miss_distance?.kilometers;

                var vel = approach?.relative_velocity?.kilometers_per_hour;

                // Removing the long decimal parts in the values provided by the API
                string missRounded = "";
                if (double.TryParse(miss, out double missVal))
                    missRounded = ((int)missVal).ToString();

                string velRounded = "";
                if (double.TryParse(vel, out double velVal))
                    velRounded = ((int)velVal).ToString();

                //Adding the result to the result list
                results.Add(new ImageCard
                {
                    Title = a.name,
                    Date = approach?.close_approach_date ?? "No Date",
                    Description =
                        $"ID: {a.id}\n" +
                        $"Absolute Magnitude: {a.absolute_magnitude_h}\n" +
                        $"Diameter (km): {a.estimated_diameter?.kilometers?.estimated_diameter_min:0.00} - " +
                        $"{a.estimated_diameter?.kilometers?.estimated_diameter_max:0.00}\n" +
                        $"Hazardous: {a.is_potentially_hazardous_asteroid}\n" +
                        $"Closest Approach: {missRounded} km\n" +
                        $"Velocity: {velRounded} km/h",
                    //Assigining a random asteroid image based on the danger posed from local storage as the API does not provide one.
                    ImageUrl = "Asteroid" + a.is_potentially_hazardous_asteroid + r.Next(0, 3) + ".jpg",
                    Hazardous = a.is_potentially_hazardous_asteroid.ToString(),
                    JPLUrl = a.nasa_jpl_url
                });
            }
        }
        //Catching API request exceptions 
        catch (Exception ex)
        {
            Console.WriteLine("NEO Error: " + ex.Message);
        }

        isLoading = false;
    }

    //Functions to focus and unfocus NEObjects
    void OpenImage(ImageCard item)
    {
        JS.InvokeVoidAsync("disableScroll");
        selectedItem = item;
    }
    void CloseImage()
    {
        JS.InvokeVoidAsync("enableScroll");
        selectedItem = null;
    }
}